header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: var(--shadow--header);
}
header h2 {
  font-weight: 900;
}
header h2 strong {
  color: var(--color-primary);
  font-weight: 900;
}
header button {
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
}
header button:hover {
  color: var(--grey-1);
  background-color: var(--color-primary);
}
main {
  width: 90%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 3rem;
  gap: 2rem;
}

.section__form {
  width: 100%;
  height: 50%;
}
.section__lista {
  width: 100%;
  height: 100%;
}
.ul_list {
  max-width: 100%;
}
@media (min-width: 1024px) {
  main {
    flex-direction: row;
  }
  .section__form {
    width: 30%;
  }
  .section__lista {
    width: 70%;
  }
  .div__buttons {
    flex-direction: row;
  }
}
@media (min-width: 1447px) {
  .section__form {
    width: 20%;
  }
  .section__lista {
    width: 50%;
  }
}
